body {
    background-color:rgba(225, 234, 255, 0.329);
    
    padding-top:60px;
    text-shadow: #ffffff;
    box-shadow: #2f2439a8
}

nav {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:60px;
    background-color:#ac9e9ea8;
    color: rgba(100, 17, 17, 0.568);
    
}

nav li {
    display:inline-block;
    margin-right: 2rem;
}

nav li a {
    color:white;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2;
    color:rgba(102, 93, 87, 0.801);
    
    
}

p {
    margin: 1rem;
    font-stretch: expanded;
    font-size: 2.9ch;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(82, 47, 26, 0.801);    
}


.page-wrapper {
    padding: 2rem;  
    background-color: rgb(211, 198, 198);
    opacity: 0.5;
    margin: 2rem;
 }
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
